@model WebApplication1.Models.Blog

@{
    ViewData["Title"] = "Details";
}

<h1 style="color:white;">Details</h1>

<div>
    <hr />


    <h4 style="color:white;">@Html.DisplayFor(model => model.auther_name)</h4>
    <button class="btn btn-dark" onclick="cacheApp(@Html.DisplayFor(model => model.id))">Cache</button>
    <button class="btn btn-dark" onclick="uncacheApp(@Html.DisplayFor(model => model.id))">UnCache</button>
    <button class="btn btn-dark" onclick="share(@Html.DisplayFor(model => model.id))">Share</button>


    <p class="col-sm-10" style="color:white;">
        @Html.DisplayFor(model => model.blog_content)
    </p>


    <img src="@Html.DisplayFor(model => model.image)" class="col-sm-10" style="color:white;" />


</div>
