@model IEnumerable<WebApplication1.Models.Blog>

@{
    ViewData["Title"] = "Create Blog";
}

<h1 style="color:white;">Top 5 Blogs</h1>

<p>
    <button type="button" class="btn btn-dark" style="dro">
        <a asp-action="Create" style="color:white;">Create New</a>
    </button>
</p>

@*              @Html.DisplayNameFor(model => model.blog_content)

    @Html.DisplayNameFor(model => model.auther_name)
*@


@foreach (var item in Model.Take(5))
{
    <div class="card" style="width: 70vw;">
        <div class="card-body">
            <h5 class="card-title" style=""> @Html.DisplayFor(modelItem => item.auther_name)</h5>
            <img src="@Html.DisplayFor(modelItem => item.image)" style="width:100%;"/>
            <p class="card-text">@Html.DisplayFor(modelItem => item.blog_content)</p>

        </div>
    </div>
}

